<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Legaloids - Admin Pannel</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="{% static 'admin/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'w3.css' %}" />
		<script src="{% static 'admin/js/modernizr.custom.js' %}"></script>
	</head>
	<body style="background-color:white;">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main w3-blue">
			</ul>
			<div class="w3-card-4" style="margin-right:400px;margin-left:400px;margin-top:150px;background-color:white;border-radius:15px;">
				<div class="w3-container w3-black">
				  <h2>Legaloids Admin Login</h2>
				</div>
				<center>
				<form class="w3-container" style="padding:20px;" action="/adminpannel/" method="POST">

				  <input style="margin-bottom:20px;" name="email" placeholder="Admin Email" class="w3-input w3-border w3-light-grey" type="email">

				  <input style="margin-bottom:20px;" name="pass" placeholder="Admin Password" class="w3-input w3-border w3-light-grey" type="password">

				  <button class="w3-btn w3-blue w3-hover-black" style="border-radius:15px;font-size:18px;">Login</button>
				</form>
				</center>
			</div>
		</div><!-- /container -->
		<script src="{% static 'admin/js/classie.js' %}"></script>
		<script src="{% static 'admin/js/gnmenu.js' %}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>