<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Legaloids - Industries</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    
</head>

<body>

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Welcome to Legaloids</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                    <div class="short_contact_list">
                                            <ul>
                                                <li><a href="tel://admin@legaloids.com"> <i class="fa fa-envelope"></i> admin@legaloids.com
                                                </a></li>

                                                <li><a href="tel://01204157858"> <i class="fa fa-phone"></i> 0120 - 4157858
                                                </a></li>
                                            </ul>
                                        </div>
                                        <div class="social_media_links">
                                            <a href="https://www.linkedin.com/company/legaloids-law-offices">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            <a href="https://www.facebook.com/legaloids/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="https://twitter.com/Legaloids?s=20">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/index/">
                                        <img style="width:200px;" src="{% static 'img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a  href="/index/">Home</a></li>
                                            
                                            <li><a href="/services/">Services</a></li>
                                            <li><a class="active"href="/industries/">Industries</a></li>
                                            <li><a href="/team/">Our Team</a></li>
                                            <li><a href="/careers/">Work With Us</a></li>

                                            <li><a href="/blog/">Blog</a></li>
                                            
                                            
                                            
                                                                                </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div style="border-color:white;border-radius:50px;border-style:solid;border-width:2px;color:white;"class="w3-button w3-hover-blue">
                                        <a  href="/contact/">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area" style="background-image:url({% static 'img/Penn_Home2_30Sept.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>Industries</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>We Deals In</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/photo-1523676060187-f55189a71f5e.jpg' %}" alt="">
                
                        <h3>Automotive
                        </h3>
                        <p>The automotive industry comprises a wide range of companies and organizations involved in the design, development, manufacturing, marketing, and selling of motor vehicles.</p>
                
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/banking.jpg' %}" alt="">                        
                        <h3>Banking
                        </h3>
                        <p>Banks act as payment agents by conducting checking or current accounts for customers, paying cheques drawn by customers in the bank, and collecting cheques deposited to customers.  </p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/solarfarm_mvtstockshot_sstock_1.jpg' %}" alt="">
                        
                        <h3>Energy & Utilities
                        </h3>
                        <p>Banks act as payment agents by conducting checking or current accounts for customers, paying cheques drawn by customers in the bank, and collecting cheques deposited to customers.</p>
                    
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/cloud-computing-fintech-revolution.png' %}" alt="">                       
                        <h3>Fintech
                        </h3>
                        <p>Fintech is the term used to refer to innovations in the financial and technology crossover space, and typically refers to companies or services that use technology to provide financial services.</p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/IMG_6973.jpg' %}" alt="">
                        <h3>HealthCare
                        </h3>
                        <p>Health care, health-care, or healthcare is the maintenance or improvement of health via the prevention, diagnosis, treatment, recovery, or cure of disease, illness, injury, and other physical.</p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/97423337.jpg' %}" alt="">                      
                        <h3>Industrials
                        </h3>
                        <p>DescriptionAn industry is a sector that produces goods or related services within an economy. The major source of revenue of a group or company is an indicator of what industry it should be classified in.</p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/header_transport-infrastructure.jpg' %}" alt="">                        
                        <h3>Infrastructure & Transport

                        </h3>
                        <p>Transport infrastructure consists of the fixed installations, including roads, railways, airways, waterways, canals and pipelines and terminals such as airports, railway stations, bus stations, warehouses.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/robot-wallpaper.jpg' %}" alt="">
                        
                        <h3>Robotics

                        </h3>
                        <p>Robotics is an interdisciplinary research area at the interface of computer science and engineering. Robotics involves design, construction, operation, and use of robots. The goal of robotics is to design. </p>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                    
                            <img style="width:250px;height:175px;border-style:solid;border-weight:5px;border-color:white;box-shadow:2px 2px 5px 5px #dbd7ca;"src="{% static 'img/Telcos-1.jpg' %}" alt="">
                        
                        <h3>Telecoms

                        </h3>
                        <p>Telecommunication is the exchange of signs, signals, messages, words, writings, images and sounds or information of any nature by wire, radio, optical or other electromagnetic systems.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- service_area_end -->

        <!-- Information_area  -->
        <!-- /Information_area  end -->

    <!-- footer start -->
<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="/index/">
                                    <img style="width:200px;" src="{% static 'img/Logo2.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                    <a href="mail://admin@legaloids.com"><i style="font-size:18px;font-weight:bolt;color:black;"class="fa fa-at"></i> admin@legaloids.com
                                    </a> <br>
                                    <a href="tel://01204157858">
                                     <i style="font-size:18px;font-weight:bolt;color:black;"class="fa fa-phone"></i> 0120 - 4157858 </a>
 <br>
                                    <i style="font-size:18px;font-weight:bolt;color:black;"class="fa fa-map-marker"></i> A-59, SECTOR-27, NOIDA - 201301

                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/legaloids/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/Legaloids?s=20">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/legaloids-law-offices">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Site Sections
                            </h3>
                            <ul>
                                <li><a href="/index/">Home</a></li>
                                <li><a href="/services/">Services</a></li>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="/industries/">Industries</a></li>
                                <li><a href="/about/">About Us</a></li>
                                <li><a href="/team/">Our Team</a></li>
                                
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Core Areas
                            </h3>
                            <ul>
                                <li><a href="#">GENERAL CORPORATE ADVISORY & LEGAL DRAFTING</a></li>
                                <li><a href="#"> COMMERCIAL & CIVIL LITIGATION</a></li>
                                <li><a href="#">BANKING & FINANCE</a></li>
                                <li><a href="#">CORPORATE CRIMINAL MATTERS</a></li>
                                
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <ul>
                                <li><a href="#">INTELLECTUAL PROPERTY RIGHTS</a></li>
                                <li><a href="#">MERGERS AND ACQUISITIONS</a></li>
                                <li><a class="boxed-btn3-line"href="/services/">View More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Website Developed and Designed by<br><a style="font-weight:bold;font-size:15px;color:black;" href="https://www.srd.mobi"><img style="width:40px;border-radius:50px;" src="{% static 'shreshtharesearchanddevelopment.png' %}"> SRD (Shreshtha Research &amp; Development)</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>