<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<title>Legaloids - Admin Pannel</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="{% static 'admin/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'w3.css' %}" />
		<script src="{% static 'admin/js/modernizr.custom.js' %}"></script>
	</head>
	<body style="background-color:black;">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a class="gn-icon" href="/adminhome/"><i style="margin-left:20px;margin-right:20px;" class="fa fa-home"></i> Home</a></li>
								<li><a class="gn-icon gn-icon-article" href="/postblog/">Post Blog</a></li>
								<li><a class="gn-icon" href="/allblogs/"><i style="margin-left:20px;margin-right:20px;" class="fa fa-th"></i> All Blogs List</a></li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a class="codrops-icon codrops-icon-drop" href="/adminlogout/"><span>Logout</span></a></li>
			</ul>
			<div style="margin-left:400px;margin-top:100px;margin-right:50px;background-color:white;border-radius:15px;"class="w3-card-4">
			<div class="w3-container w3-blue">
			  <h2>Post Blog</h2>
			</div>

			<form style="padding-right:20px;padding-left:20px;padding-bottom:20px;padding-top:20px;"class="w3-container" action="/saveblog/" method="POST" enctype="multipart/form-data">
				<label style="margin-bottom:10px;font-size:20px;font-weight:bold;color:green;">{{ msg|safe }}</label>
			  <input style="margin-bottom:20px;" class="w3-input w3-border w3-light-grey" placeholder="Blog Title" name="title" type="text" required>

			  <textarea style="margin-bottom:20px;" class="w3-input w3-border w3-light-grey" placeholder="Blog Body" name="body" type="text" required></textarea>
			  <input style="margin-bottom:20px;" class="w3-input w3-border w3-light-grey" placeholder="Blog Category" name="category" type="text" required>
			  <input style="margin-bottom:20px;" class="w3-input w3-border w3-light-grey" placeholder="Photo" name="image" type="file" accept="image/*" required>


			  <button style="font-size:18px;border-radius:15px;padding:10px;" class="w3-black w3-hover-blue" type="submit">Post Blog</button>
			</form></div>
		</div><!-- /container -->
		<script src="{% static 'admin/js/classie.js' %}"></script>
		<script src="{% static 'admin/js/gnmenu.js' %}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>